.leftNick {
  margin-right: 29px !important;
}

.leftMail {
  margin-right: 69px !important;
}

.leftCity {
  margin-right: 47px !important;
}

.leftAnsv {
  margin-right: 73px !important;
}

.leftCity {
  margin-right: 27px !important;
}

.rightCity {
  margin-right: 28px !important;
}

.rightAnsv {
  margin-right: 75px !important;
}

.seatNick2 {
  margin-left: 33px !important;
}

.seatCity2 {
  margin-left: 55px !important;
}
